<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas y Respuestas</title>
    <link rel="stylesheet" href="./css/juego.css">
</head>
<body>
    <input type="hidden" name="m" value="Pregunta">
    <input type="hidden" name="f" value="mostrarPregunta">
    <div id="header">
        <h1>¡Desafía tu conocimiento con Quiz Master!</h1>
    </div>
        <div id="question-container">
            <div id="question">{{ pregunta.TextoPre }}</div>
            <form action="index.php" method="post" class="options">
                <input type="hidden" name="m" value="Usuario">
                <input type="hidden" name="codigo" value="{{ pregunta.CodPre }}">
                <input type="hidden" name="categoria" value="{{categoria}}">
                
                {% for respuesta in respuestas %}
                    {{ respuesta | raw}}
                {% endfor %}
            </form>
        </div>
    <div class="puntuacion">
        <h2>Puntuación</h2>
        <div id="puntos">{{ usuario.Puntuacion }}</div>
    </div>
</body>
</html>